#container {
  width: 250px;
  margin: 10% auto;
}

#zero {
  min-width: 122.3px;
}

.display {
  margin-left: -1px;
  border: 1px solid #AAA;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: right;
  height: 25px;
  max-width: 205px;
  background: #527a7a;
  color: white;
  margin
}

.row div {
  cursor: default;
  display: inline-block;
  min-width: 60px;
  min-height: 40px;
  background: #b3b3b3;
  margin: 0 -1px 1px;
  text-align: center;
  color: #555;
  line-height: 50px;
  font-size: 1.2rem;
}

.row div:last-child {
  background-color: #ff8533;
  color: white;
}

.row div:active {
  background-color: #8c8c8c;
}